body {
	color: white;
}

.fp-screen {
	width: 1140px;
	margin-top: 20px;
}

.fp-screen iframe {
	width: 1140px;
	height: 542px;
}

.details {
	margin-top: 10px;
}

.left-column-details {
	float: left;
	background-color: #1f1f1f;
	width: 71%;
	min-height: 336px;
}

.right-column-details {
	float: right;
	background-color: #1f1f1f;
	width: 28.1%;
}

.left-column-details h3,
.right-column-details h3 {
	margin: 0;
	padding: 12px 10px;
	font-size: 12px;
}

.left-column-details h3,
.left-column-details div#socials {
	display: inline-block;
}

.left-column-details div#socials {
	float: right;
	margin: 5px 5px;
}

.box-shadow {
	-moz-box-shadow: 1px 2px 5px #131211;
	-webkit-box-shadow: 1px 2px 5px #131211;
	box-shadow: 1px 2px 5px #131211;
}

.details-poster {
	padding: 0 10px 20px 10px;
}

.details-poster,
.description-film-container {
	float: left;
	color: #b1a99c;
}

.description-film-container .show-more {
	float: right;
	margin-top: 15px;
}

.description-film-container .show-more:hover {
	cursor: pointer;
}

.details-header {
	background-color: #131211;
}

.header-comments h1 {
	font-size: 16px;
	margin-top: 10px;
}

.header-comments {
	position: relative;
	font-weight: bold;
}

.header-comments div#ratingImDb {
	position: absolute;
	right: 0;
	top: -10px;
}

.clear {
	clear: both;
}

.description-film-container {
	padding: 10px 20px 10px 0;
	width: 600px;
}

.film-description {
	overflow: hidden;
}

.film-history table {
	font-size: 14px;
}

.film-history table td {
	padding-right: 15px;
}

.wrapper-related-movies {
	margin: 5px 10px;
}

.related-movie {
	width: 90px;
	margin: 2px 5px;
	float: left;
	position: relative;
	height: 141px;
}

.related-movie a {
	display: block;
}

#comments-to-film {
	padding: 10px;
	margin: 10px auto;
	background-color: #120f0f;
}

.wrapper-comments {
	background-color: #1E1E1E;
}

#ratingImDb {
	height: 42px;
}

.playing {
	padding: 5px 5px;
}

.playing h2 {
	font-size: 12px;
	display: inline-block;
	margin: 0;
}

time.year-film {
	text-align: center;
	display: block;
}
div.main-poster img {
	padding: 4px;
}

div.main-poster a {
	display: block;
}
div.main-poster img:hover {
	outline: 1px solid;
}

.navbar-collapse .search-form {
	float: right;
	width: 400px;
	margin-top: 10px;
}

div.wrap {
	min-height: 800px;
}

.sub-menu {
	background-color: #e7e7e7;
	padding: 5px;
}

.sub-menu ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.sub-menu ul li {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 3px;
	border: 1px solid;
	padding: 0 3px;
}

.navbar {
	margin-bottom: 0;
}

.noselect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.error {
	color: red;
	font-weight: bold;
}

.widget-popular li {
	padding: 1px;
	width: 156px;
	overflow: hidden;
	font-size: 12px;
}

.widget-popular li header {
	height: 30px;
}

.presentation {
	list-style: none;
}

.presentation li {
	display: inline-block;
	padding: 1px;
	width: 156px;
	overflow: hidden;
	font-size: 12px;
}

.presentation li header {
	height: 30px;
}

.presentation li p {
	text-align: center;
	margin: 2px 0;
}

footer {
	background: url(../img/footer-tail.jpg) 0 0 repeat #1c1c1c;
}
body {
	background: url(../img/body-tail.gif) center 0 repeat #c9c8c9;
}
.navbar {
	background: #e4e4e4 url(../img/header.png) top repeat-x;
}
