body {
	color: white;
}

body {
	background: url(../img/body-tail.gif) center 0 repeat #c9c8c9;
}

div.wrap {
	min-height: 900px;
}

/*		футер		*/
footer {
	background: url(../img/footer-tail.jpg) 0 0 repeat #1c1c1c;
}

footer .row {
	padding: 15px 0;
}

footer .row p {
	margin: 0;
}

/*		главное меню		*/
.navbar {
	background: #e4e4e4 url(../img/header.png) top repeat-x;
}

.navbar-collapse {
	padding-right: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
	text-shadow: 1px 1px 2px black, 0 0 1em white; /* Параметры тени */
	color: white;
}

/*				плеер				*/
.fp-screen {
	width: 1140px;
	height: 527px;
	margin-top: 20px;
	padding: 18px 18px;
	background: #eee;
}

.fp-screen iframe {
	width:100%;
	height: 100%;
}

/*		контейнер под плеером		*/
.details {
	margin-top: 10px;
}

.left-column-details {
	float: left;
	width: 71%;
	min-height: 336px;
}

.left-column-details,
.right-column-details {
	background: #f3f3f3;
}

.right-column-details {
	float: right;
	width: 28.1%;
}

.left-column-details h3,
.right-column-details h3 {
	margin: 0;
	padding: 12px 10px;
	font-size: 12px;
}

.left-column-details h3,
.left-column-details div#socials {
	display: inline-block;
}

.left-column-details div#socials {
	float: right;
	margin: 5px 5px;
}

/*		постер фильма и его описание		*/
.details-poster {
	padding: 0 10px 20px 10px;
}

.details-poster,
.description-film-container {
	float: left;
	color: #666666;
}

.description-film-container .show-more {
	float: right;
	margin: 5px 0 0 0;
}

.description-film-container .show-more:hover {
	cursor: pointer;
}

.details-header {
	background: #e4e4e4 url(../img/header.png);
}

.header-comments h1 {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	color: #444;
	width: 80%;
}

.header-comments {
	position: relative;
	font-weight: bold;
}

.header-comments div#ratingImDb {
	position: absolute;
	right: 0;
	top: -10px;
}

.description-film-container {
	padding: 10px 10px 5px 0;
	width: 74.92%;
}

.film-description {
	overflow: hidden;
}

.film-history table {
	margin-bottom: 10px;
}

.film-history table,
.film-description {
	font-size: 12px;
	text-align: justify;
}

.film-history table td {
	padding-right: 10px;
}

.film-history table tr {
	border-bottom: 1px solid #ffffff;
}

.film-history table td:first-child {
	border-right: 1px solid #ffffff;
}

.film-history table td:last-child {
	padding: 2px 0 2px 5px;
}

.wrapper-related-movies {
	margin: 10px 10px;
}

.related-movie {
	width: 90px;
	margin: 5px 5px;
	float: left;
	position: relative;
	height: 141px;
}

.related-movie a {
	display: block;
}

#comments-to-film {
	padding: 10px;
	margin: 10px auto;
	background: #eee;
}

.wrapper-comments {
	background-color: #1E1E1E;
}

#ratingImDb {
	height: 42px;
}

time.year-film {
	text-align: center;
	display: block;
}

/*		социальные кнопки		*/
.pluso-more {
	display: none !important;
}

/*		классы общего использования		*/
.box-shadow {
	-moz-box-shadow: 1px 2px 5px #131211;
	-webkit-box-shadow: 1px 2px 5px #131211;
	box-shadow: 1px 2px 5px #131211;
}

.clear {
	clear: both;
}

.error {
	color: red;
	font-weight: bold;
}

.noselect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.headers {
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	color: #444;
}

/*		строка поиска		*/
.navbar-collapse .search-form {
	float: right;
	width: 400px;
	margin-top: 10px;
}

/*		менюшка с рубриками		*/
.sub-menu {
	background-color: #e7e7e7;
	padding: 5px;
}

.sub-menu ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.sub-menu ul li {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 3px;
	border: 1px solid;
	padding: 0 3px;
}

.navbar {
	margin-bottom: 0;
}

/*		фильм на главной		*/
.presentation {
	list-style: none;
}

.presentation li {
	display: inline-block;
	width: 120px;
	overflow: hidden;
	font-size: 12px;
	margin: 13px 0 10px 0;
	opacity: 0.8;
}

.presentation li p {
	text-align: center;
	margin: 2px 0;
}

.presentation ul,
ul.presentation {
	padding-left: 15px;
}

.presentation ul {
	background:
		url(../img/video-frame.png) top repeat-x,
		url(../img/video-frame.png) bottom repeat-x;
}

div.main-poster img {
	width: 100%;
	height: 170px;
}

div.main-poster a {
	display: block;
	position: relative;
}

div.main-poster:hover span.start-play,
li.new-film:hover span.start-play{
	visibility: visible;
}

li.new-film:hover {
	cursor: pointer;
}

div.main-poster span.start-play {
	position: absolute;
	background: 	url(../img/play-button.png) no-repeat;
	height: 45px;
	width: 45px;
	top: 37%;
	left: 30%;
	visibility: hidden;
}

li.new-film div.main-poster span.start-play {
	top: 39%;
	left: 37%;
}

ul.presentation,
.widget-title{
	background: #eee;
}

.widget-title {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	padding: 10px 10px 2px 10px;
	margin: 0;
}

.presentation li.new-film {
	width: 170px;
	border: 2px solid #ddd;
	border-radius: 5px;
	margin-right: 14px;
	margin-top: 17px;
}

.presentation li:hover {
	opacity: 1.0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.presentation li.new-film img {
	height: 220px;
}

.video-title h5 {
	background: #e4e4e4 url(../img/header.png);
	white-space: nowrap;
	margin: 0;
	text-align: center;
	font-weight: bold;
}

.video-title h5 a {
	color: white;
	padding: 6px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}

.video-title h5 a:hover {
	text-decoration: none;
}

/*		пэйджинг		*/
nav.post-nav {
	margin-bottom: 20px;
	text-align: center;
}

span.current {
	background: #181717;
	border-color: #181717;
	color: #f9f9f9;
}

nav.post-nav span {
	text-decoration: none;
	border: 1px solid #767575;
	padding: 2px 7px;
	margin-right: 5px;
	display: inline-block;
}

nav.post-nav a {
	text-decoration: none;
	border: 1px solid #767575;
	padding: 2px 7px;
	margin-right: 5px;
	display: inline-block;
	color: #767575;
}

nav.post-nav a:hover {
	background: #181717;
	border-color: #181717;
	color: #f9f9f9;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/*		search-result page		*/
#search-page li {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	background-color: #e7e7e7;
	border-radius: 15px 0 15px 0;
	overflow: hidden;
	color: #444;
}

#search-page li a.search-poster {
	display: block;
	float: left;
}
#search-page li img {
	width: 166px;
}

#search-page li div.film-info {
	float: left;
	width: 84.91%;
	padding: 10px;
}

#search-page li div.film-info header {
	width: 100%;
	margin-bottom: 10px;
}

#search-page li div.film-info header h5 {
	margin: 0;
}

#search-page li div.film-info header a {
	color: #444;
}

#search-page li div.film-info header a:hover {
	text-decoration: none;
}

#film-content {
	text-align: justify;
}